<tr>
    <td>{{ app.id }}</td>
    <td>{{ app.name }}</td>
    <td><a href="{{ app.url }}" target="_blank">{{ app.url }}</a></td>
    <td>{{ app.updated_at }}</td>
    <td>{{ app.created_at }}</td>
    <td>
    <div class="row center">
        <button class="col s4 btn waves-effect waves-light {{ app.active ? 'green' : 'red' }}" onClick="toggleApp('{{ app.id }}')"><i class="material-icons">{{ app.active ? 'play_arrow' : 'stop' }}</i></button>
        <button class="col s4 btn waves-effect waves-light blue accent-4" onClick="updateApp('{{ app.id}}')"><i class="material-icons">create</i></button>
        <button class="col s4 btn waves-effect waves-light red accent-4" onClick="deleteApp('{{ app.id}}')"><i class="material-icons">delete</i></button>
    </div>
    </td>
</tr>
